* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-icon {
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
  color: gray;
}

.nav-icon > h6 {
  font-size: xx-small;
}

.nav-icon:hover {
  color: black !important;
}
