* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-icont {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  margin-right: 10px;
  margin-bottom: 10px;
}
