.App {
  height: 3000px;
  background-color: rgb(196, 196, 196);
}

.app_body {
  display: flex;
  flex-direction: row;
}

.app_body :nth-child(n) > div {
  display: flex;
  flex-direction: column;
}

.app_body :nth-child(3) > div {
  margin-right: 10px;
}
